{% load static %}
{% load bootstrap4 %}

{% block content %}
    <h4>Авторизация</h4>
    <a href="{% url 'polls:index' %}">На главную</a>
    {% if request.user.is_authenticated %}
        <p>Вы уже выполнили вход. <a href="{% url 'logout' %}">Выйти.</a></p>
    {% else %}
        <form method="post" style="margin-top: 10px;">
            {% csrf_token %}
            {% bootstrap_form form layout='horizontal' %}
            <input type="hidden" name="next" value="{{ next }}">
            <br>
            {% buttons submit='Войти' %} {% endbuttons %}
        </form>
    {% endif %}
{% endblock %}