{% load static %}
{% load bootstrap4 %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
{% block content %}

    <div class="">
        <p><strong>Профиль пользователя:</strong> {{ user.username }}<p>
        <a class="button" href="{% url 'polls:index' %}">На главную</a>
    </div>

    <div class="">
        <img src="{{ user.avatar.url }}" height=150 width=150 alt="Аватар">
    </div>

{% endblock content %}
<!--https://habr.com/ru/sandbox/164517/-->