{% load static %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% block content %}

    {#    <div>#}
    {#        <p><strong>Профиль пользователя:</strong> {{ user.username }}<p>#}
    {#        <a class="button" href="{% url 'polls:index' %}">На главную</a>#}
    {#    </div>#}
    {##}
    {#    <div>#}
    {#        <img src="{{ user.avatar.url }}" height=150 width=150 alt="Аватар" class="rounded-circle">#}
    {#    </div>#}
    <div class="container">
        <div class="main-body">
            <a class="button" href="{% url 'polls:index' %}">На главную</a>
            <div class="d-flex flex-column align-items-center text-center">
                <img src="{{ user.avatar.url }}" height=150 width=150 alt="Аватар"
                     class="rounded-circle">
                <div class="mt-3">
                    <h4>{{ user.username }}</h4>
                    <p>{{ user.first_name }} {{ user.last_name }}</p>
                    <a href="?" class="btn btn-outline-primary">Редактировать</a>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}
<!--https://habr.com/ru/sandbox/164517/-->