{% load bootstrap4 %}
{% bootstrap_css %}
{% block content %}
    {% if question.was_published_recently or request.user.is_staff %}
        <div class="container">
            <a class="button" href="{% url 'polls:index' %}">На главную</a>
            <form action="{% url 'polls:vote' question.id %}" method="post">
                {% csrf_token %}
                <fieldset>
                    <h1>{{ question.question_text }}</h1>
                    <p>{{ question.full_description }}</p>
                    {% if question.question_image %}
                        <img src="{{ question.question_image.url }}" alt="Изображение вопроса" class="col-4"><br>
                    {% else %}
                        <p>Нет изображения</p>
                    {% endif %}
                    {% if error_message %}<p><strong> {{ error_message }}</strong></p>{% endif %}
                    {% for choice in question.choice_set.all %}
                        <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
                        <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
                    {% endfor %}
                </fieldset>
                <input type="submit" value="Vote">
            </form>
        </div>
    {% else %}
        <p>у этого опроса истек срок жизни</p>
    {% endif %}
{% endblock %}