{% load static %}
{% load bootstrap4 %}
{% bootstrap_css %}
<div class="container">
    {% if request.user.is_authenticated %}
    <nav>
        <p><strong>Пользователь:</strong> {{ user.username }}</p>
        <a href="{% url 'polls:profile' %}">Профиль</a>
        <a href="{% url 'polls:logout' %}">Выйти</a>
    </nav>
    {% else %}
    <a href="{% url 'polls:login' %}">Войти</a>
    <a href="{% url 'polls:register' %}">Зарегистрироваться</a>
    {% endif %}
    {% if request.user.is_authenticated %}
        {% if latest_question_list %}
        <ul>
            {% for question in latest_question_list %}
            <li>
                <a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a>
                <p>{{ question.short_description }}</p>
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <p>
            Нет вопросов!
        </p>
    {% endif %}
</div>
{% endif %}
